.form-content {
	background-color: #FFF;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 10px;
}
.container > div > h3 {
	margin-top: 20px;
}
.form-content a.remove {
    margin: 0 auto;
    color: #f5365c !important;
    line-height: 1;
    font-size: 20px;
}
.form-content a.remove {
    display: block;
    font-size: 1.5em;
    height: 1em;
    width: 1em;
    text-align: center;
    line-height: 1;
    border-radius: 100%;
    color: red!important;
    text-decoration: none;
    font-weight: 700;
    border: 0;
}
.form-content a.remove:hover {
    background-color: #f5365c !important;
    color: #fff!important;
    background: red;
}
.coupon > button[name="update_cart"] {
	float: right;
}
.coupon > input {
	width: 140px;
	height: 35px;
}
.cart-totals > div > h4 {
	font-size: 1.1em;
    border-bottom: 1px solid #f0f0f0;
    font-weight: 500;
    padding: 9px 20px;
    background-color: #f7f7f7;
}
.cart-totals > div > table {
	background-color: #FFF;
}
.cart-totals {
	margin-bottom: 30px;
}
.ty-cart {
    margin: 10px auto;
    color:white;
}
.ty-ret-to-shop {
    margin-bottom: 50px;
}

.checkout{
    margin:50px auto;
  
}