/* * {
  box-sizing: border-box;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
  padding: 15px;
} */
.info-product{
  width: 100%;
  color: white;
}
.info-product p{
  color:#007BFF;
}
.addcart button{
  background-color: #007BFF;

}
 .detail div, .detail li {
  color:green;
  /* font-family: 'Open Sans'; */
  font-style: normal;
  font-weight: normal;
}
.detail {
  margin-bottom: 20px;
  
}
.main{
  margin-top: 20px;
  margin-bottom: 50px;
}
.conten-detail {
  padding-left: 10px;
}
.img-detail img{
  width: 100%;
  height: 100%;
  padding: 5px;
}

.ty-des {
  margin-top: 10px;
  margin-bottom: 10px;
}
.ty-tabs-list {
    vertical-align: bottom;
}
.ty-tabs {
  width: 85px;
  margin-top: 30px;
  vertical-align: bottom;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 0;
  margin: 2px 2px 0 0;
  padding: 5px 5px 5px 2px;
  position: relative;
  background: #ccd6e0;
  vertical-align: bottom;
  border-bottom: 1px solid #c6d1dd;
}
.fontweight{
  margin-bottom: 10px;
  font-family: 'PT Sans';
  font-size: 30px;
  color: #2e3a47;
  word-wrap: break-word;
}
.dolla{
  margin-top:20px;
  margin-bottom: 20px;
  font-family: 'PT Sans';
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}
.type-label {
  width: 110px;
  color: #1a2128;
}
.type-item {
  display: inline-block;
  color: #1a2128;
}
.ty-in-stock {
  color: #2ecc71;
}
input[type=number], select {
  width: 30px;
  height: 22px;
  padding: 12px 10px;
  margin: 0px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.ty-button {
  margin-top: 20px;
}



.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background: white;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 10px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #007BFF;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #007BFF;
}

/* Style the tab content */
.tabcontent-about {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.checked {
  color: orange;
}

.img-detail{
 
  width: 100%;
  height: auto;
}
.tablinks{
  background: white;

}
.tablinks:hover{
  background: #007BFF;

}
.tablinks:active{
  background: #007BFF;
}