.container{
  margin: 0 auto;
  width: 80%;
  height: auto;
}

.breadcrumb{
  background: url(images/breadcrumb.png);
  background-size: cover;
  height: 130px;
  color: #ff794d;
  text-align: center;
  padding-top: 40px;
  line-height: 30px;
  font-size: 24px;
  margin-top:103px;
}

.breadcrumb h1, p{
  font-weight: 300;
}

.breadcrumb p a{
  color: #ff794d;
  
}

.page-title{
  padding: 20px 0px;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 300;
  line-height: 1.3846153846;
}

.result-count{
  color: #767674;
  float: left;
  font-size: 14px;
  line-height: 1.8;
  font-family: inherit;
  display: block;
}

.ordering{
  float: right;
  font-weight: 300;
}

.orderby{
  width: 100%;
  height: 30px;
  border: 1px solid #ccc;
  padding: 5px;
  box-sizing: border-box;
  color: #2B2B27;
  font-family: raleway,sans-serif,Tahoma;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 3em;
}


ul.products{
  margin: 0 0 0 -2%;
  clear: both;
}

li.item{
  border: 1px solid #eaeaea;
  padding: 10px 0 0 9px;
  overflow: hidden;
  margin: 0 0 2em 2%;
  width: 240px;
  float: left;
  position: relative;
  display: list-item;
  list-style: none;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
}

li.item:hover{
  box-shadow: 1px 1px rgba(244,82,69,.9),
              2px 2px rgba(244,82,69,.9),
              3px 3px rgba(244,82,69,.9);
  -webkit-transform: translateX(3px);
  transform: translateX(3px);
}

.item-image img{
  padding-left: 2px;
}

.price{
  position: absolute;
  bottom: 116px;
  background: rgba(244,82,69,.9);
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  color: #fff;
  font-size: 14px;
  padding: 9px 15px;
  line-height: 14px;
}

.amount{
  height: 24px;
  line-height: 24px;
  display: inline-block;
}

.item h3 {
  text-align: center;
  color: #7e7e7e;
  font-weight: 600;
  text-transform: none;
  font-size: 14px;
  padding: 10px;
}

.add-to-card{
  display: block;
  float: right;
  padding-right: 20px;
  margin: 20px 0;
}

.ty-see-product {
  margin-bottom: 40px;
}

.ty-see-product a{
  margin: 0 auto;
  text-align: center;
  clear: both;
}

.ty-see-product a:hover{
  color: #fff;
  background: rgba(244,82,69,.9);
}

form.star-rate{
  float: left;
  width: 50%;
  margin: 20px 0;
}

#addCart:hover {
  cursor: pointer;
}