*, h1, h2, p{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: content-box;
}

a{
  text-decoration: none;
  
}

body{
  /*background-image:url(../images/bg-main.jpg);*/
  background: #f2f2f2;
  font-size: 18px;
  font-weight: 18;
background-image:url(../images/bg/bg-6.png);

}

header{
  background:url(../images/bg/bg-6.png) no-repeat 0px 0px;
		min-height:87px;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  /* background-color: #fff; */
  border-bottom: 3px solid #cc5200;
  height: 100px;
  width: 100%;
  z-index: 3;
  color: green;
  overflow: hidden;
}
.footer{
  background-color:#000000;
  color:green;width: 80%;
  margin:0 auto;
  border-color: green;
  border:solid 1px;
  border-radius: 10px;
  padding: 15px 20px 8px 20px;
  margin-bottom: 5px;

}
.container{
  background-image:url(../images/bg/bg-3.png);
  /* color: green; */
}
.col h4{
  font-weight: bold;
}
.col ul li {
  font-size:12px;
}
.col h6 {
 font-size:12px;
}
.col p{
  font-size:12px;
  text-align: justify;
}
.form-control{
  padding-top: 0px; 
  padding-bottom: 0px;
}
.header-container{

  display: grid;
  grid-column: 2;
  grid-template-columns: 1fr 40px 300px 3fr 80px 160px;
}

.site-title{
  grid-column: 1 ;
  padding-top: 0px;
  margin-top: -40px;
}

.site-title:hover{
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.site-title a h2{
  font-size: 40px;
  font-weight: 600;
  line-height: 30px;
}
.site-title a:hover{
  text-decoration: none;
  color: #fff;  
}
.site-title img{
  width: 180px;
  height: auto;
}

.menu-primary{
  grid-column: 3;
}

.menu-primary > ul > li{
  display: inline-block;
  width: 30%;
  text-align: center;
  height: 66px;
  padding-top: 33px;
  transition: background 1s ease-in-out;
  -o-transition: background 1s ease-in-out;
  -moz-transition: background 1s ease-in-out;
  -webkit-transition: background 1s ease-in-out;
}

.menu-primary >ul > li:hover{
  cursor: pointer;
  background:green;
}

.menu-primary > ul > li > a, .sign-content a{
  text-decoration: none;
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  
}
.register-button{
  border: solid 1px;
  
  border-color: green;
  margin: 0px 5px 0 5px;
  color:#fff;
  text-align: center;
  width: 80px;
}
.header-search {
  grid-column: 4;
  padding-top: 5px;
  
  
}

.search-field{
  width: 60%;
  height: 30px;
  border: 1px solid #000d1a;
}

.search-submit{
  background: #fff;
  width: 25%;
  height: 30px;
  border: 1px solid #000d1a;  
}

.search-submit:hover{
  background: #ef484c;
  color: #fff;
  cursor: pointer;
}

.cart-content{
  grid-column: 5;
  text-align: left;
}

.cart-image:hover{
  cursor: pointer;
}

.cart-image > img{
  padding-top: 25px;
  width: 50px;
  height: 50px;
  color: white;
  margin-left: 5px;
}

.sign-content{
  grid-column: 6;
  padding-top: 36px;
}

footer{
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 1fr 80px;
  background-color: white;
  width: 100%;
  color: #9c9c9c;
  /* line-height: 1.5em; */

}

.footer-container{
  display: grid;
  grid-area: 1 / 2;
  grid-template-rows: 20px 1fr 40px;
  grid-template-columns: 1fr 20px 1fr 20px 1fr;
  /* font-family: 'Montserrat', sans-serif; */
 
  color: black;
}


.footer-container > div > h3{
  color: #fff;
  padding: 10px 0px;  
}

.about-us{
  grid-area: 2 / 1 / span 1 / span 1;
}

.recent-posts{
  grid-area: 2 / 3 / span 1 / span 1;
}

.recent-posts > ul > li{
  display: block;
}

.recent-posts > ul > li > a:hover{
  color: #9c9c9c;
}

.recent-posts > ul > li > a{
  font-family: inherit;
  color: #F45242;
}

.get-touch{
  grid-area: 2 / 5 / span 1 / span 1;
}

.subscribe-form{
  padding: 8px 0px;
  width: 100%;
  height: 35px;
  display: block;
  border: 1px;
}

.subscribe-field{
  width: 50%;
  height: 100%;
 
}


.subscribe-submit{
  width: 28%;
  height: 100%;
  border: 0;
  color: #fff;
  background: red;
  padding: 0 7px;
  background-color:#BB0000;
}

.subscribe-submit:hover{
  cursor: pointer;
}

.info{
  border-top:1px solid;
  grid-column: 1 / -1;
  grid-row: 2 ;
  background:  white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.txtTrend{
  text-align: center;
  color: green;
  margin-bottom: 50px;
 
}
.txtTrend h2{
   font-weight: bold;
}
@-webkit-keyframes swing
{
  15%
  {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30%
  {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  } 
  50%
  {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65%
  {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80%
  {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100%
  {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes swing
{
  15%
  {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30%
  {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50%
  {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65%
  {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80%
  {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100%
  {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.menu-icon{
  text-align: right;
  display: none;
  cursor: pointer;
  padding: 20px 20px 10px 0;
  width: 30%;
  float: right;
}

.menu-icon img{
  width: 40px;
}

@media(max-width: 1024px){
  header {
    display: block;
  }
}

@media(max-width: 768px){
  header{
    height: 100px;
  }
  .showing{
    height: auto;
  }
  .header-container {
    display: block;
  }

  .site-title{
    display: block;
    float: left;
    width: 60%;
  }

  .menu-primary,.header-search {
    display: block;
    width: 100%;
  }
  .menu-primary{
    margin-top: 22px;
  }
  .menu-primary > ul > li{
    display: inline-block;
    width: 100%;
    height: 23px;
    padding: 3px 0 3px 0;   

  }
  .header-search{
    display: inline-block;
    padding-top: 4px;
    width: 90%;
    padding-left: 10%;
    margin: 0 auto;
  }
  /* input[type=search] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  } */

  .cart-content,.sign-content{
    display: inline-block;
    width: 30%;
    float: right;
    padding-bottom: 10px;
  }

  .menu-icon{
    display: block;
  }
}

@media(max-width: 414px){
  .footer-container{
    display: block;
  }

  .about-us, .recent-posts, .info, .get-touch{
    margin: 0 auto;
  }
}

